In [3]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80         NaN
5번    김재욱  가산고  188   15   20   10  10         NaN
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      PYTHON
8번    승근열  구로고  190  100   85   90  95          C#

In [40]:
df = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,nrows=1,usecols='B,E:Y')
# df.loc['전국']
df.loc['전국  ']
df.index
# 빈공백 제거
df.index[0].strip()
# # index의 1번째 row 데이터를 출력
df.loc[df.index[0]]  # df.loc['전국  ']

## index 이름을 변경
df.rename(index={df.index[0]:df.index[0].strip()}, inplace=True)

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [22]:
df.loc['전국']

0~4세         678,966
5~9세       1,019,087
10~14세     1,195,436
15~19세     1,195,498
20~24세     1,446,090
25~29세     1,777,534
30~34세     1,788,146
35~39세     1,629,589
40~44세     2,055,022
45~49세     1,965,092
50~54세     2,279,578
55~59세     2,115,365
60~64세     2,093,694
65~69세     1,670,380
70~74세     1,066,316
75~79세       760,968
80~84세       519,583
85~89세       231,644
90~94세        59,761
95~99세         9,722
100세 이상        1,473
Name: 전국, dtype: object

In [41]:
df['0~4세'] + df['5~9세']

행정기관
전국    678,9661,019,087
dtype: object

In [35]:
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)

In [24]:
df.loc['전국'] = df.loc['전국'].str.replace(",","").astype(int)

In [42]:
df = df.T

In [44]:
df['전국'] = df['전국'].str.replace(",","").astype(int)

In [48]:
df['전국'].min()
df['전국'].max()

np.int64(2279578)

In [ ]:
####  이름 변경
### 출생아 수, 최대값, 최소값 구하기
### 축을 변경하기

In [93]:
df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
출생아 수,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600,249.10,230.00
합계 출산율,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.78,0.72

In [94]:
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)

In [130]:
df = df.T

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 2014 to 2023
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   출생아 수   10 non-null     float64
 1   합계 출산율  10 non-null     float64
dtypes: float64(2)
memory usage: 540.0+ bytes

In [126]:
df

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
출생아 수,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600,249.10,230.00
합계 출산율,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.78,0.72

In [129]:
df.iloc[0]
df['출생아 수']
df['2014']

KeyError: '출생아 수'

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.values # 숨겨진 특수문자를 찾을 수 있다

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [137]:
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)
df.index.values

array(['출생아 수', '합계 출산율'], dtype=object)

In [138]:
df = df.T

In [142]:
df.describe()
df

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [148]:
filt = (df['출생아 수'] >= 300) & (df['합계 출산율'] >= 1 )
df[filt]

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052

In [144]:
df['합계 출산율']

2014    1.205
2015    1.239
2016    1.172
2017    1.052
2018    0.977
2019    0.918
2020    0.837
2021    0.808
2022    0.780
2023    0.720
Name: 합계 출산율, dtype: float64