In [7]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')

* 그룹화

In [7]:
df.groupby('학교').count()

      이름  키  국어  영어  수학  과학  사회  SW특기
학교
구로고    5  5   5   5   5   5   5     3
디지털고   3  3   3   3   3   3   3     3

In [ ]:
# 해당하는 학교의 그룹 리스트 보여줌
# df.groupby('학교').get_group('구로고')
# df.groupby('학교').mean()
df.groupby('학교').size()   # 해당 학교 학생 수 확인
df.groupby('학교').size()['구로고']
df.groupby('학교').size()['디지털고']
df.groupby('학교')['키'].mean()  # 학교별 키의 평균값 확인

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64

In [14]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [3]:
df.groupby('학교').size()

학교
구로고     5
디지털고    3
dtype: int64

그룹별로 최대값, 최소값, 평균, 합계

In [11]:
# 학교 그룹별 - 키 평균 출력
df.groupby('학교')['키'].mean()
# 학교 그룹별 키, 국어점수 평균 출력
df.groupby('학교')[['키','국어']].mean()
df.groupby('학교')['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [22]:
# 컬럼을 추가
df['학년'] = [3, 3, 2, 1, 3, 2, 2,1]

In [17]:
df.groupby(['학교','학년']).size()

학교    학년
구로고   1     1
      2     1
      3     3
디지털고  1     1
      2     2
dtype: int64

In [21]:
df.groupby('학교')[['이름','SW특기']].count()

      이름  SW특기
학교
구로고    5     3
디지털고   3     3

In [23]:
df.groupby('학교').count()
df.groupby('학년')['이름'].count()

학년
1    2
2    3
3    3
Name: 이름, dtype: int64

In [32]:
df.groupby("학년").sum().sort_values('키')
df.groupby("학교").sum().sort_values('키')
df.groupby("학교")['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [51]:
### 그룹화
# 컬럼을 기준으로 그룹핑 - df.groupby(컬럼) : sum() 합계, count() 개수, size() 크기, 
df.groupby('학교').count()
df.groupby(['학교','학년']).count()

# 컬럼지정필요 : df.groupby('학교')[숫자 타입 컬럼] mean(), max(), min()
df.groupby('학교')['키'].min()
df.groupby('학교')[['키','국어']].min()

### 그룹별 키로 순차정렬 ascending=False: 역순정렬
df.groupby('학년')['키'].mean().sort_values(ascending=False)

# value_counts(): 그룹핑 개수
df.groupby('학교')['학년'].value_counts().loc['구로고']

학년
3    3
1    1
2    1
Name: count, dtype: int64

In [46]:
# 학교로 그룹핑을 해서 학년으로 학생수 출력
df.groupby('학교')['학년'].value_counts()

학교    학년
구로고   3     3
      1     1
      2     1
디지털고  2     2
      1     1
Name: count, dtype: int64

In [ ]:
# 학교로 그룹핑을 해서 구로구 학생들만 학년으로 학생수 출력
df.groupby('학교')['학년'].value_counts().loc['구로고']

# 퍼센테이지로 출력됨 : normalize=True
df.groupby('학교')['학년'].value_counts(normalize=True).loc['구로고']

학년
3    0.6
1    0.2
2    0.2
Name: proportion, dtype: float64

In [6]:
# df.groupby('학교').min()
df['학교'].min()
df['학교'].value_counts()

학교
구로고     5
디지털고    3
Name: count, dtype: int64

In [ ]:
# 학교로 그룹핑을 한 후 구로고 학생의 키의 합계를 구하시오

In [ ]:
df_s = df.groupby('학교')['키'].sum()

학교
구로고     924
디지털고    580
Name: 키, dtype: int64

In [20]:
# 학교로 그룹핑을 먼저 하고 나서 각 학교의 키에 대한 계산을 진행하는 것

df_s.loc[df.groupby('학교')['키']]

NameError: name 'df_s' is not defined

In [29]:
df.groupby('학교')['키'].mean()
df.groupby('학교')['키'].min()
df.groupby('학교')['키'].max()
df.groupby('학교')['키'].sum()
df.groupby('학교')['키'].agg(['mean','min','max','sum'])

            mean  min  max  sum
학교
구로고   184.800000  168  197  924
디지털고  193.333333  188  202  580

In [32]:
df['학교'].value_counts()

학교
구로고     5
디지털고    3
Name: count, dtype: int64