In [174]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep='\t')
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [17]:
# 전체 item_name에 있는 개수 확인
df['item_name'].value_counts()
# index[0] : 1번째 리스트 제목을 출력
df['item_name'].value_counts().index[0]

'Chicken Bowl'

In [13]:
# items() item_name, 개수를 튜플형태로 리턴해줌
list(df['item_name'].value_counts().items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [11]:
### item_name 그룹별로 개수확인
# df.groupby('item_name')['order_id'].count()
df['item_name'].value_counts()                               # 자동으로 순차정렬해서 나옴
df['item_name'].value_counts().sort_values()                 # 순차정렬
df['item_name'].value_counts().sort_values(ascending=False)  # 역순정렬

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [16]:
df['item_name'].value_counts().index[0]
df['item_name'].value_counts().index[1]
df['item_name'].value_counts().index[2]

'Chips and Guacamole'

In [18]:
df.columns
# 주문번호, 주문수량, 메뉴명, 추가옵션, 메뉴가격
# 'order_id', 'quantity', 'item_name', 'choice_description','item_price'

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [22]:
##  메뉴별 주문 수량 체크
df['item_name'].value_counts()


##  주문 평균 금액 체크

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [45]:
# ### 주문메뉴  Chicken Bowl 인 quantity 합계
filt = df['item_name'] == 'Chicken Bowl'
df[filt]['quantity'].sum()
# 한줄로 줄이기
df[df['item_name'] == 'Chicken Bowl']['quantity'].sum()

df['item_name'].value_counts().head(3)

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Name: count, dtype: int64

In [46]:
df[df['item_name'] == 'Chicken Bowl']['quantity'].sum()

np.int64(761)

In [53]:
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [117]:
df = pd.read_csv('chipotle.tsv',sep='\t')

In [102]:
# 총 주문 수량
# df.shape
len(df['order_id'].unique())

1834

In [176]:
## 주문 평균 금액을 출력하시오.
# item price를 float화
# df['item_price'] = df['item_price'].apply(lambda x:float(x[1:]))

# df['item_price'] = df['item_price'].str.replace("$","").astype(float)
df['item_price'] = df['item_price'].str[1:].astype(float)

In [119]:
# order_id 그룹화
df.groupby('order_id')['item_price']

In [114]:
# order_id로 합계를 낸 후 평균을 구해야 함
df.groupby('order_id')['item_price'].sum().mean()

np.float64(18.811428571428568)

In [151]:
### 각 템별 가격
### 주분이 1개인 메=뉴
filt = df['quantity'] == 1
df[filt].groupby('item_name')[['item_price']].min().sort_values('item_price')
df[filt][['item_name','item_price']].min()
# 순차정렬하시오

item_name     6 Pack Soft Drink
item_price                 1.09
dtype: object

In [178]:
df = pd.read_csv('chipotle.tsv',sep='\t')
df['item_price'] = df['item_price'].str[1:].astype(float)

In [ ]:
# df.groupby('order_id')['item_price'].sort_values('item_price')
# filt['item_price'
## 한 주문당 20달러 이상 주문한 order_id를 출력하라

(df.groupby('order_id')['item_price'].sum() >=20)

In [182]:
df_s = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)
filt = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False) >= 20
df_s.loc[filt]
df_s.loc[filt].count()

np.int64(589)

In [211]:
# Chicken Salad Bowl 몇개 주문되었는지 출력하시오
# 주문 총 수량
# filt = df['item_name'] == 'Chicken Salad Bowl'
# df.loc[filt]['quantity'].sum()
df.loc[df['item_name'] == 'Chicken Salad Bowl']['quantity'].sum()

np.int64(123)

In [233]:
# Chicken salad Bowl 2개 이상 주문한 횟수를 출력하시오.
# filt = df['item_name'] == 'Chicken Salad Bowl'
# (df[filt]['quantity']>= 2).count()
(df[df['item_name'] == 'Chicken Salad Bowl']['quantity'] > 1).count()

np.int64(110)

In [239]:
# Chicken Bowl을 2개 이상 주문한 횟수
filt = (df['item_name'] == 'Chicken Bowl') & (df['quantity'] > 1)

# 나온 치킨볼 개수
df[filt][['quantity','item_name']].sort_values('quantity',ascending=False).count()
df[filt]['quantity'].count()
df[filt]['quantity'].sum()

np.int64(68)

In [213]:
### 베지 샐러드볼
filt = df['item_name'] == 'Veggie Salad Bowl'
df.loc[filt]['quantity'].sum()

np.int64(18)

In [246]:
filt = df['item_name'] == 'Chicken Bowl'
df[filt].count()

df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64